# Python virtual environment
env/
venv/
__pycache__/
*.pyc

# Temporary files
*.mp4
*.wav
*.mp3
*.srt
*.vtt
temp_*
concat.txt
final_audio.wav
!requirements.txt

# OS specific files
.DS_Store
Thumbs.db